body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    background-image: url("https://lh3.googleusercontent.com/fife/ALs6j_G8Aj93YSeY1N_eSTDhhIoTtlw9fCQN67r6vqwit1Wrq3A4MvmdlmSwmkyi-IbB2BIstPE_NDbH5eZ637i1neB5bikaiEgl_88kg9f_DvUN2tXcROwBLKaS9Bvfo5hsj4CUkSRudiQN3cEaQyUTaev5SGlXoVWlFpaZg5dcr9j_9TlWI6jm7qZRCYU2CAXHmQ6lJJC7uBuYsySKV55UnbTw68nH6S-ihB4wr7RSoTr0SalPpnzGjeLP-1_3M6YXTvO1wnVTa8HpL6uHaSAK7keup7kMGo5oUC3ZqlL-ooR99l2QIGrYK8O0xM7IHC1j7NO_i2ktTSikllgX49fx1yFFUCapJsnqrYig895AS9Tmx3zcHXVvce_HtkCCvKD_vrR9HYEqnq9d_PQRUgYA7AkDCqGIchDXEGsF0EUydtoLytuikjdzd7LYAz4D7gVOKuSYnfFRVPeksHYS56FuovoIOBnQmsq7aRHFdNOR6Ukl2yImoUzmIlGOGrMNHHpO1SLFbSlJsAJTfPQ9LJu6hlHIdbGjmvnKLs7oc-RyKOupzzyZ59F4elUsAPYIZpdAg9UUSLZ76makC48IbPMmLz-8YuDKzJQZhqlL9kERCMgbgoet33VVCD99ysl5yAH7VbOQLAXcstQnuOYjCTnBzb77SOimlMm15Y8SUUslCbDsUDQqL2frX1lFGhBd5BUVLXA1MiFqGQeYOh1tuCdGPtHZyxZdd7qVGwjPkhAAiKliEBiS324-BAou2k6alow0DD5B_PDDh_oWQSbaREow2caXhbXsLh2YomHPC-ac7JYKipL2xKAEoIIEfAEsbYtecSt6UkU9jJaPDsKsYqhEYkhGJPmMPyjTMlACIrshRg9Oa5A45pnhYVuKXtEfINolFoIgpS1dJwJGveDZG8d32OtSvDbHDuwO8ohBfi0J5WRXvVXPzV4Y89lB29-AuvETt0s-Ahmb26l5gR-XU4RHB64YETro0TYPCkt_7xeIwrDXS0MjN4OQEAfmy0acUqfBgxGfD7rbTPRKyfh66cGCzWd-hSvcT3Q2L3YBYyPl3kvh6zSLGzIk4EzcQ3K_LRvR8DrCujRcOIsS7_PfGGh0dJRJmg8LK7DBz6qn15H2uFm7dQAB7O0nKz9EU6Nq_lTxoUr8iVGNScjHNS1tbhkBH-0yze3WN_GpW_jVL3t6KzuLv7XMN3HDHL44yeeUDOnuo4v1vx55xrgFV3JkH1bkbyPnGW0Cheoq03wH4mXupLkFMamap6HXBQrmZWm5wofdcRIS5brVndWsquK_zU7DNq5jKTJ0PMiJuyQaYZeKyg8Z5YYMxFdqJXwT7U85Qa18lsi2ZBy5MbqCfFjoijqRuHyKqLsvZriTKcEC_WR9xZCG_1URqvnsAAgq3KEFp8bU6s1wSzT4nyi_Eyzg8BsEq2fsFh7MIhmoi2gb6CxNw77cdyJ6ykCSwhk1mxlxeJbdcXThsP2uBPhwo-EP1spHTlvt3toR0yvXeG-2ThjbFatRHen8HswpPzly8MlZT9nOvn1w0BDCOtzj9t7VBaQajS2y2wufBrrWZxQxN_A7WVBl6uG3tzK0=s512");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.h2{
    color: deeppink;
}

.image {
    width: 150px;
    height: 100px;
    float: left;
    padding-left: 100px;
 
}
.p{
    color: aqua;
    font-size: medium;
    font-style: italic;
}
.title {
    font-size: 80px;
    font-style: oblique;
    color:#7cb569;
    float: center;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.left-section {
    flex: 1;
    background-color: rgba(0,0,0,0.1);
    backdrop-filter: blur(10px);
    padding: 20px;
    margin-right: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    color: #ccc;
}

.right-section {
    flex: 1.5;
    background-color: rgba(0,0,0,0.1);
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    color: #ccc;
}

h1 {
    text-align: center;
    margin: 20px 0;
}

label {
    display: block;
    margin: 10px 0 5px;
    color: aqua;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid rgb(230, 224, 224);
    border-radius: 4px;
    background-color: transparent;
    color: #ccc;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border: 2px solid;
    border-radius: 15px;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

th {
    color: aqua;
}